@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');
body {
  background-color: rgb(16, 16, 16);
  color: white;
	font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  list-style: none;
  margin:0;
  padding:0;
}

a {
  display: block;
  block-size: auto;
  color: white;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-color: white;
}
ul li
{
    list-style-type: none;
}

p {
  font-family: "Lato"
}

nav {
  font-size: 135%;
  margin: 2.5%;
}


nav li {
  display: inline;
  float: right;
  margin-left: 20px;
  font-size: 1.1em;
}

#title {
  display: block;
  font-size: 1.5em;
  float:none;
  max-width: 100px;
}

/* Animations */

body {
    animation: fadein 2s;
    -webkit-animation: fadein 2s; 
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* MOBILE AND MEDIA */ 

@media (max-width: 500px) {

  nav {
      margin: 0;
    }
    
    
    nav li {
      display: block;
      float: none;
      font-size: 1.1em;
      max-width: 30%;
      margin: auto;
    }

    #title {
      font-size: 1.5em;
      max-width: 30%;
    }
}

