
.description {
    margin-left: 5%;
    max-width: 55%;
    float: left;
}

.description p {
    font-size: 1em;
    font-style: normal;
}

img {
    max-width: 350px;
    float: left;
    margin: 20px;
}



ul {
    margin-top: 10%;
    font-size: 1.2em;
}

ul h3 {
    margin: 0;
}




.contacts {


    
    float: right;
    margin: 5%;
}




/* MOBILE AND MEDIA */ 

@media (max-width: 500px) {
    .description {
        max-width: 90%;

    }
    
    .description img {
        margin: 0;
    }

    .contacts {
        float: none;
        margin-top: 5vh;
    }
   
}



