@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');
body {
  background-color: rgb(16, 16, 16);
  color: white;
	font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  list-style: none;
  margin:0;
  padding:0;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-color: white;
}
ul li
{
    list-style-type: none;
}

p {
  font-family: "Lato"
}

nav {
  font-size: 135%;
  margin: 2.5%;
}


nav li {
  display: inline;
  float: right;
  margin-left: 20px;
  font-size: 1.1em;
}

#title {
  font-size: 1.5em;
  float:none;
}

/* Animations */

body {
    animation: fadein 2s;
    -webkit-animation: fadein 2s; 
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
